{% extends 'base-admin.html' %}
{% block title %}Perfil{% endblock %}
{% block content %}
    <head>
        <!-- Styles for this view -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/modules/profile.css') }}">
    </head>
    <div class="content-group inter bg-black-light">
        <h2 class="color-white inter">Perfil</h2>
    </div>
    {% if g.user %}
        <div class="form inter">
            <div class="content-group bg-black-light cont-profile">
                <div class="img-cont-group" style="margin-top: 2rem;">
                    <!-- {% if g.user.profile_photo %}
                        <img id="image-preview" src="{{ url_for('static', filename=g.user.profile_photo) }}" alt="{{ g.user.username }}">
                    {% else %}
                        <img id="image-preview" src="{{ url_for('static', filename='img/profile-photo-default-img.jpg') }}" alt="{{ g.user.username }}">
                    {% endif %} -->
                    <img src="{{ g.user.profile_photo }}" alt="{{ g.user.profile_photo }}">
                </div>
                <div class="text-cont-group">
                    <h1>Información de Perfil:</h1>
                    <div class="cont-profile-group">
                        <label for="name">Nombre de Usuario: </label>
                        {% if g.user.username %}
                            <h2 class="color-white-gray">@{{ g.user.username }}</h2>
                        {% else %}
                            <h2 class="color-gray">No registrado</h2>
                        {% endif %}
                    </div>
                    <div class="cont-profile-group">
                        <label for="name">Nombres: </label>
                        {% if g.user.names %}
                            <h2 class="color-white-gray">{{ g.user.names }}</h2>
                        {% else %}
                            <h2 class="color-gray">No registrado</h2>
                        {% endif %}
                    </div>
                    <div class="cont-profile-group">
                        <label for="name">Apellidos: </label>
                        {% if g.user.last_names %}
                            <h2 class="color-white-gray">{{ g.user.last_names }}</h2>
                        {% else %}
                            <h2 class="color-gray">No registrado</h2>
                        {% endif %}
                    </div>
                </div>
                <div class="text-cont-group">
                    <h1 style="visibility: hidden;">Información de Perfil: </h1>
                    <div class="cont-profile-group">
                        <label for="name">Correo Electrónico: </label>
                        {% if g.user.email %}
                            <h2 class="color-white-gray">{{ g.user.email }}</h2>
                        {% else %}
                            <h2 class="color-gray">No registrado</h2>
                        {% endif %}
                    </div>
                    <div class="cont-profile-group">
                        <label for="name">Contraseña: </label>
                        <a href="#" class="btn-form color-black bg-turquese-light-blue inter btn-change-pass">
                            <img src="{{ url_for('static',  filename='img/icons/password.png') }}" alt="">
                            Cambiar contraseña
                        </a>
                    </div>
                </div>
            </div>
            <div class="btns-form inter" style="justify-content: flex-end;">
                <a href="{{ url_for('admin.update_user', id = g.user.id) }}" class="btn-form color-black bg-turquese-light-blue inter" type="submit">
                    <img src="{{ url_for('static', filename='img/icons/edit-profile.png') }}" alt="">
                    Editar Perfil
                </a>
            </div>
        </div>
    {% else %}
    {% endif %}
{% endblock %}