{% extends 'base-admin.html' %}
    {% block title %}Editar Inventario{% endblock %}
{% block content %}
    <div class="content-group inter bg-black-light">
        <h2 class="color-white inter">Editar Inventario</h2>
    </div>
    <form action="" method="post" class="form inter form-prods">
        <div class="content-group bg-black-light form-content">
            <h1>Información de Inventario:</h1>
            <div class="form-group" style="margin-top: 0;">
                <label for="name">Producto:</label>
                <select name="product" id="products" class="inter color-white" disabled>
                    <option value="{{ inventory.id }}" class="bg-black">{{ inventory.product.name }}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="name">Stock Inicial:</label>
                <input 
                    type="number"
                    class="inter color-white"
                    name="inflows"
                    value="{{ inventory.inflows }}"
                    id="name"
                    placeholder="Ingresa aquí la cantidad inicial de producto"
                    required
                >
            </div>
        </div>
        <div class="btns-form inter">
            <a href="{{ url_for('admin/inventories.index') }}" class="btn-form color-white btn-cancel">
                Cancelar
            </a>
            <button class="btn-form color-black btn-submit bg-turquese-light-blue inter" type="submit">
                <img src="{{ url_for('static', filename='img/icons/update.png') }}" alt="">
                Actualizar Inventario
            </button>
        </div>
    </form>
{% endblock %}