{% extends 'base-company.html' %}
{% block title %}Recuperar Contraseña{% endblock %}
{% block content %}
    <form action="" method="post" class="form-users inter">
        <h1>Recuperar Contraseña</h1>
        <div class="form-users-group">
            <label for="username">Correo para envío de código de recuperación</label>
            <input type="text" class="bg-black-light color-white inter" name="username" id="username" placeholder="Correo Electrónico">
        </div>
        <button class="btn-form-users inter" type="submit">
            Enviar código
        </button>
    </form>
{% endblock %}