{% extends 'base-admin.html' %}
{% block title %}Productos{% endblock %}
{% block content %}
    <head>
        <!-- Styles for this view -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/modules/products.css') }}">
    </head>
    <div class="content-group inter bg-black-light">
        <h2 class="color-white inter">Productos</h2>
    </div>
    <div class="top-page">
        <div class="cont-search">
            <button class="btn-search-filter bg-turquese-light-blue">
                <img src="{{ url_for('static', filename='img/icons/filter.png') }}" alt="">
            </button>
            <form action="{{ url_for('admin/products.index') }}" method="post" class="search-bar">
                <img src="{{ url_for('static', filename='img/icons/search.png') }}" alt="">
                <input type="text" class="color-white inter" name="searchProduct" value="{{ query }}" id="search" placeholder="Buscar Producto...">
            </form>
        </div>
        <div class="cont-create" style="gap: 1rem;">
            <a href="{{ url_for('admin/products/categories.index') }}" class="btn-create bg-black color-white inter" style="border: 1px solid white;">
                <img src="{{ url_for('static', filename='img/icons/categories.png') }}" alt="">
                <h2>Categorías</h2>
                <h3>Nuevo</h3>
            </a>
            <a href="{{ url_for('admin/products.new') }}" class="btn-create bg-turquese-light-blue color-black inter">
                <img src="{{ url_for('static', filename='img/icons/add-product.png') }}" alt="">
                <h2>Nuevo producto</h2>
                <h3>Nuevo</h3>
            </a>
        </div>
    </div>

    <table class="table inter bg-black-light">
        <thead>
            <tr class="thead color-white-gray">
                <th class="th th-no-prods">No</th>
                <th class="th th-code-prods">Código</th>
                <th class="th th-name-prods">Nombre</th>
                <th class="th th-category-prods">Categoría</th>
                <th class="th th-price-prods">Precio</th>
                <th class="th th-options-prods">Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% if products %}
                {% for product in products | reverse %}
                    {% if g.user.id == product.created_by %}
                        <tr class="tbody">
                            <td class="td td-no-prods">{{ loop.index }}</td>
                            <td class="td td-code-prods">#{{ product.code }}</td>
                            <td class="td td-name-prods"><a href="#" class="color-white">{{ product.name }}</a></td>
                            <td class="td td-category-prods">{{ product.category.name }}</td>
                            <td class="td td-price-prods">{{ product.price }} $</td>
                            <td class="td td-options-prods">
                                <a href="{{ url_for('admin/products.update', id = product.id) }}">
                                    <svg 
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 16 16"
                                        fill="#20AEF3"
                                    >
                                        <path 
                                            d="M12.527 7.473L8.527 3.473 1 11 1 15 5 15zM11.172.828l-1.065 1.065 4 4 1.065-1.065c1.105-1.105 1.105-2.895 0-4l0 0C14.067-.276 12.276-.276 11.172.828z"
                                        />
                                    </svg>
                                </a>
                                <a href="{{ url_for('admin/products.delete', id = product.id) }}">
                                    <svg 
                                        xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                        viewBox="0,0,256,256"
                                        fill-rule="nonzero"
                                    >
                                        <g transform="translate(-32,-32) scale(1.25,1.25)">
                                            <g 
                                                fill="#fc003c"
                                                fill-rule="nonzero"
                                                stroke="none"
                                                stroke-width="1"
                                                stroke-linecap="butt"
                                                stroke-linejoin="miter"
                                                stroke-miterlimit="10"
                                                stroke-dasharray=""
                                                stroke-dashoffset="0"
                                                font-family="none"
                                                font-weight="none"
                                                font-size="none"
                                                text-anchor="none"
                                                style="mix-blend-mode: normal"
                                            >
                                                <g transform="translate(0,6.45885) scale(8.53333,8.53333)">
                                                    <path d="M14.98438,2.48633c-0.55152,0.00862 -0.99193,0.46214 -0.98437,1.01367v0.5h-5.5c-0.26757,-0.00363 -0.52543,0.10012 -0.71593,0.28805c-0.1905,0.18793 -0.29774,0.44436 -0.29774,0.71195h-1.48633c-0.36064,-0.0051 -0.69608,0.18438 -0.87789,0.49587c-0.18181,0.3115 -0.18181,0.69676 0,1.00825c0.18181,0.3115 0.51725,0.50097 0.87789,0.49587h18c0.36064,0.0051 0.69608,-0.18438 0.87789,-0.49587c0.18181,-0.3115 0.18181,-0.69676 0,-1.00825c-0.18181,-0.3115 -0.51725,-0.50097 -0.87789,-0.49587h-1.48633c0,-0.26759 -0.10724,-0.52403 -0.29774,-0.71195c-0.1905,-0.18793 -0.44836,-0.29168 -0.71593,-0.28805h-5.5v-0.5c0.0037,-0.2703 -0.10218,-0.53059 -0.29351,-0.72155c-0.19133,-0.19097 -0.45182,-0.29634 -0.72212,-0.29212zM6,9l1.79297,15.23438c0.118,1.007 0.97037,1.76563 1.98438,1.76563h10.44531c1.014,0 1.86538,-0.75862 1.98438,-1.76562l1.79297,-15.23437z"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr class="tbody">
                            <td class="td" style="width: 100%;">No hay productos creados por ti.</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% else %}      
                {% if query %}
                    <tr class="tbody">
                        <td class="td" style="width: 100%;">Producto no encontrado: {{ query }}</td>
                    </tr>
                {% else %}
                    <tr class="tbody">
                        <td class="td" style="width: 100%;">No hay productos creados por ti.</td>
                    </tr>
                {% endif %}
            {% endif %}
        </tbody>
    </table>
{% endblock %}