<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
</head>
<body>
    <h1>Página Principal</h1>
    <br>
    <li><a href="{{ url_for('admin.dashboard') }}">Dashboard</a></li>
    <br>
    <li><a href="{{ url_for('auth.login') }}">Iniciar Sesión</a></li>
    <li><a href="{{ url_for('auth.register') }}">Registrarse</a></li>
    <li><a href="{{ url_for('auth.forgot_password') }}">Recuperar contraseña</a></li>
</body>
</html>